.header {
  display: flex;
  justify-content: space-between;
  border: solid 2px #c084fc;
  align-items: center;
  padding: 1.5rem 2rem;
  background: #ffffff;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  border-radius: 12px;
}


.logo {
  width: 150px;
  margin: 15px;
}

.header a{
  text-decoration: none;
  color: #333;
  font-weight: 500;
  position: relative;
}

.nav-items {
  font-size: 20px;
  display: flex;
  gap: 2rem;
}

.header a::after{
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  height: 2px;
  width: 0%;
  background-color: #65a30d;
  transition: width 0.3s;
}
.header a:hover::after{
  width: 100%;
}
.nav-items > ul {
  display: flex;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
  list-style-type: none;
  cursor: pointer;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.search {
  padding: 10px;
  margin: 10px;
}

.res-card {
  font-family: Arial, Helvetica, sans-serif;
  margin: 5px;
  padding: 5px;
  width: 200px;
  min-height: 300px;
}
.res-card:hover {
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(2, 3, 4, 1);
  border-radius: 8px;
  border: solid 1px;
}
.res-logo {
  border-radius: 8px;
  width: 100%;
}

/* .js-top-rest-btn,.search-btn {
  padding: 10px;
  margin: 1px;
  cursor: pointer;
} */

.shimmer-card {
  width: 200px;
  height: 250px;
  border-radius: 10px;
  background: #f6f7f8;
  background-image: linear-gradient(
    to right,
    #f6f7f8 0%,
    #edeef1 20%,
    #f6f7f8 40%,
    #f6f7f8 100%
  );
  background-repeat: no-repeat;
  background-size: 800px 100%;
  animation: shimmer 1.2s linear infinite;
  margin: 16px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
}

@keyframes shimmer {
  0% {
    background-position: -800px 0;
  }
  100% {
    background-position: 800px 0;
  }
}

.login-btn{
  cursor: pointer;
  padding: 0.6rem 1.2rem;
  margin: 10px;
  font-weight: bold;
  font-size: 15px;
  background: #65a30d;
  color: white;
  border:none;
  border-radius: 8px ;
}

.function-bar {
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 12px;
  max-width: 600px;
  margin: 30px auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8);
}
.search-group {
  display: flex;
  gap: 10px;
  width: 100%;
}

.search-btn,
.js-top-rest-btn {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.search-btn:hover,
.js-top-rest-btn:hover {
  background-color: #45a049;
}

.js-top-rest-btn {
  margin-top: 15px;
  width: 100%;
}

.res-container a{
  text-decoration: none;
  color: inherit;
}




